.story-intro {
    font-size: 27px;
    text-align: center;
}

.separator {
    background-color: black;
}

.menu_story_simple {
    margin-top: 40%;
}

#arrowLeft {
    margin-top:40%;
}

#arrowRight {
    margin-top:40%;
}

#page {
    height : 900px;
    background-color: white;
}